<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h3 class="page-heading">自分の趣味を投稿してみよう！</h3>
        <%= link_to "投稿する", new_tweet_path, class:"post" %>
    </div>
  </div>

<% @tweets.each do |tweet| %>
  <div class="tweet">
    <div class="tweet-user">
      <%= tweet.user.name %>
    </div>
    <div class="tweet-pastime">
      <%= tweet.pastime.name %>
    </div>
    <div class="tweet-content">
      <%= tweet.content %>
    </div>
    <div class="tweet-image">
      <%= image_tag tweet.image.variant(resize: '500x500') if tweet.image.attached? %>
    </div>
  </div>
<% end %>
</div>
