<%= render "shared/header" %>
<div class="main">
<h1>Friend Connect</h1>
<h3>〜同じ趣味を見つけて繋がろう！〜</h3>
  <div class="inner">
    <div class="form__wrapper">
      <h3 class="page-heading">自分の趣味を投稿してみよう！</h3>
        <%= link_to "投稿する", new_tweet_path, class:"post" %>
    </div>
  </div>

<% @tweets.each do |tweet| %>
  <div class="tweet">
    <div class="tweet-user">
      <%= link_to tweet.user.name, user_path(tweet.user) %>
    </div>
    <div class="tweet-pastime">
      <%= tweet.pastime.name %>
    </div>
    <div class="tweet-content">
      <%= tweet.content %>
    </div>
    <div class="tweet-image">
      <%= link_to image_tag(tweet.image.variant(resize: '500x500')), tweet_path(tweet.id) if tweet.image.attached? %>
    </div>
  </div>
<% end %>
</div>
