<header style='padding-top:200px'>
  <div class='container'>
    <div class='navbar navbar-expand navbar-dark bg-secondary fixed-top'>
        <h1 class="navbar-brand">Friend Connect</h1>
        <h3 class="navbar-brand">〜同じ趣味を見つけて繋がろう！〜</h3>
        <% if user_signed_in? %>
          <nav class="navbar-nav">
            こんにちは、<%= link_to "#{current_user.name}さん", user_path(current_user), class: "text-link" %>
          </nav>
        <% else %>
          <nav class="navbar-brand">
          こんにちは、ゲストさん
        <% end %>
        </nav>
        <ul class='navbar-nav'>
          <% if user_signed_in? %>
          <li><%= link_to "マイページ", user_path(current_user), class: "nav-link" %></li> 
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "nav-link" %></li>
          <% else %>
          <li><%= link_to 'ログイン', new_user_session_path, class: "nav-link" %></li>
          <li><%= link_to '新規登録', new_user_registration_path , class: "nav-link" %></li>
          <% end %>
        </ul>
  </div>
</header>